@model IEnumerable<ApplicationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobListingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.JobListingId)</td>
                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if (User.IsInRole("Customer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a>
 
                    }

                    @if (User.IsInRole("Employer"))
                    {
                        <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
